<% layout('boilerplate') -%>
<h1>New Farm</h1>
<form action="/farms" method="post">
	<input type="text" name="name" placeholder="name" />
	<input type="text" name="city" placeholder="city" />
	<input type="text" name="email" placeholder="email" />
	<button>Add Farm</button>
</form>
