<% layout('boilerplate') -%>
<h1><%= prod.name %></h1>
<ul style="list-style: none">
	<li>Price <%= prod.price %></li>
	<li>Category <%= prod.category %></li>
</ul>
<a href="/products"> back to home</a>
